.ResumeQueueButton{
    color: #fff;
    text-decoration: none;
    background-color: #008080;
    border-radius: 10px;
    padding: 8px 25px;
    font-style: 24px;
    display: flex;
    align-items: center;

}
.ResumeIcon{
    font-size: 34px;
    margin-right: 10px;
}