@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
  /* Main colours */
  --primary-color : #008080;
  --secondary-color : #F6F4F5;
  
  /* Text colors */
  --white-text-color : #fff;
  --dark-text-color : #212121;
  --light-text-color : #8B8B8B;

  /* Actions colors */
  --success-color : #2AAF6F;
  --danger-color : #C34848;
  --info-color : #4F83A0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--dark-text-color);
}
