.SideBar{
    width:250px;
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    padding: 25px;
}

a{
    text-decoration: none;
}
.navigation{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}
.SideBarItem{
    color: var(--dark-text-color);
    font-size: 23px;
    display: flex;
    align-items: center;
}

.SideBarIcon{
    margin-right: 15px;
    width: 40px;
    height: 40px;
}
.profile{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
    

}
.img{
    width: 80px;
    height: 80px;
    background-color: var(--dark-text-color);
    border-radius: 10px;
}